html, body {
    height: 100%;
    background-color: black;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.container {
    position: fixed;
    top: 0;
}

#particles canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
